.controls {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-grow: 1;
}

.controls button {
	background: inherit;
	border: none;
	cursor: pointer;
	height: 40px;
	width: 40px;
}
.controls svg {
	height: 100%;
	width: 100%;
	fill: var(--color-grey-200);
}

.play svg{
	fill: white;
}
